.container-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  justify-content: center;
}

.barber-card {
  position: relative;
  overflow: hidden;
  transition: max-width 0.3s ease-in-out, max-height 0.3s ease-in-out, transform 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 10px;
  height: 450px;
  max-width: 330px;
  order: 2;
}

.barber-card.minimal {
  height: auto;
  max-height: 120px;
}

.barber-card.expanded {
  width: 100%;
  display: flex;
  max-width: none;
  order: 1;
  height: 570px;
}

.barber-expanded {
  padding: 1.5em;
  text-align: start;
  background-color: #eaeded;
  flex: 1;
  display: flex;
  gap: 25px;
  flex-direction: column;
  max-height: 100%;
  overflow: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

.img-section {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  width: 330px;
}

.card-container-text {
  background-color: #1a1a1a87;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 10px;
  max-height: 25%;
  padding: 10px;
}

.card-container-text.minimal {
  box-sizing: border-box;
  height: 100%;
  max-height: 100%;
}

.card-container-text>* {
  color: white;
}

.card-container-btns {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.card-container-btns>button.inactive {
  color: grey;
}

.barber-data-section {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.barber-data-section > p {
  font-size: 1rem;
}

.barber-reviews-section {
  display: block;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px 10px 30px 10px;
  box-sizing: border-box;
}

.barber-gallery {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
}

.expand-button {
  position: absolute;
  background-color: #fff;
  opacity: 70%;
  border-radius: 50%;
  right: 25px;
  top: 10px;
  z-index: 2;
  transform: rotate(-90deg);
}

.expand-button.active {
  background-color: var(--primary-color);
  opacity: 100%;
}

@media (max-width: 768px) {

  /* Estilo específico para pantallas más pequeñas (teléfonos celulares) */
  .container-card-list {
    justify-content: center;
  }

  .barber-card {
    display: flex;
    flex-direction: column;
  }

  .barber-card.expanded {
    max-width: 330px;
    order: 2;
  }

  .barber-card.expanded>.img-section {
    min-height: 55%;
    max-height: 55%;
  }

  .barber-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .barber-expanded>.barber-gallery>.media-item {
    width: 100%;
  }

  .expand-button {
    transform: none;
    /* Quita la transformación en dispositivos móviles */
  }
}

@media (min-width: 768px) {
  .barber-expanded>.barber-gallery>.media-item {
    width: 250px;
    cursor: pointer;
  }
}