body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000000;
  color: #f3f3f3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#modal-modal-rating{
  color: var(--primary-color);
}

:root {
  /* ===== Colors ===== */
  --primary-color: #1976d2;
  --secondary-color: #111827;
  --primary-text-color: #FFF;
  --secondary-text-color: #000;
  --panel-color: #FFF;
  --black-light-color: #707070;
  --border-color: #e6e5e5;

  /* ====== Transition ====== */
  --tran-05: all 0.5s ease;
  --tran-03: all 0.3s ease;
  --tran-03: all 0.2s ease;
}
