.link-lists-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-header-link-list {
  background-color: var(--secondary-color);
  color: var(--primary-text-color);
}